.marco-ponti {
  background-color: #5625a71c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.marco-ponti .gettyimages-wrapper {
  background-color: #5625a71c;
  width: 1200px;
  height: 3000px;
  position: relative;
}

.marco-ponti .gettyimages {
  position: absolute;
  width: 773px;
  height: 499px;
  top: 468px;
  left: 213px;
  object-fit: cover;
}
